<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap">

<div class="search-container">
    <input type="text" class="search-input" placeholder="Search courses...">
    <button class="create-button" (click)="btnCreateCoure()">Create New Course</button>
</div>

<div class="courses-container" [style.width.%]="initialWidth">
    <div class="course-card" *ngFor="let course of courses">
        <img [src]="'data:image/jpg;base64,' + course.thumbnail" class="course-thumbnail" alt="Course Thumbnail">
        <div class="course-details">
            <h3 class="course-title">{{ course.courseName }}</h3>
            <p class="course-instructor">Instructor: {{ course.masterName }}</p>
            <p class="course-price">Price: ${{ course.coursePrice }}</p>
            <p class="course-language">Language: {{ course.courseLanguage }}</p>
            <p class="course-duration">Duration: {{ course.courseAccessDurationInMonths }} months</p>
            <button class="enroll-button">Enroll Now</button>
        </div>
    </div>
</div>


<div class="add-course" [style.display]="showAddCourse">
    <router-outlet></router-outlet>
</div>