.home-container {
    text-align: center;
    padding: 20px;
    margin-top: 70px;
}

.hero-section {
    background-color: #007D97;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
}

.hero-section h1 {
    margin: 0 0 20px;
    font-size: 2.5em;
}

.hero-section p {
    margin: 0 0 30px;
    font-size: 1.2em;
}

.hero-section button {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.hero-section button:hover {
    background-color: #e0e0e0;
}

.features-section {
    margin-top: 50px;
}

.features-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
}

.feature h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .feature {
        width: 100%;
    }
}