<div class="home-container">
    <section class="hero-section">
        <h1>Welcome to the Murali Technologies!</h1>
        <p>Manage your courses, enrollments, and more with ease.</p>
        <!-- <button (click)="navigateTo('dashboard')">Get Started</button> -->
    </section>

    <section class="features-section">
        <h2>Features</h2>
        <div class="features">
            <div class="feature">
                <h3>Easy Course Management</h3>
                <p>Create, update, and delete courses with an intuitive interface.</p>
            </div>
            <div class="feature">
                <h3>Student Enrollment</h3>
                <p>Enroll students in courses and track their progress.</p>
            </div>
            <div class="feature">
                <h3>Role-Based Access</h3>
                <p>Administer different levels of access for admins, instructors, and students.</p>
            </div>
        </div>
    </section>

    <!-- <app-courses></app-courses> -->
</div>