<div class="course-form">
    <h4>Create new course</h4>
    <form >
        <div class="form-group">
            <label for="courseName">Course Name</label>
            <input type="text" id="courseName" name="courseName" required>
        </div>
        <div class="form-group">
            <label for="coursePrice">Course Price</label>
            <input type="number" id="coursePrice" name="coursePrice" required>
        </div>
        <div class="form-group">
            <label for="courseTime">Course Time Period</label>
            <input type="text" id="courseTime" name="courseTime" required>
        </div>
        <div class="form-group">
            <label for="courseLanguage">Course Language</label>
            <input type="text" id="courseLanguage" name="courseLanguage" required>
        </div>
        <div class="form-group">
            <label for="thumbnail">Course Thumbnail</label>
            <input type="file" id="thumbnail"  name="thumbnail">
        </div>
        <button type="submit">Add Course</button>
    </form>
</div>