.course-form {
    // position: absolute;
    // width: 25%;
    margin-top: -870px;
    // margin-left: 1020px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.lbl-txt {
    font-size: 12px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ddd;
    background: none;
    outline: none;
    font-size: 13px;
    height: 25px;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="file"]:focus {
    border-bottom: 2px solid #007bff;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="number"]::placeholder {
    color: #aaa;
}

.thumbnail {
    size: 20px;
}

button[type="submit"] {
    display: inline-block;
    padding: 5px 15px;
    background-color: #007d97;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: -webkit-fill-available
}

// button[type="submit"]:hover {
//     background-color: #0056b3;
// }